.card {
    display: flex;
    justify-content: flex-start;

    .card_image {
        height: 7.5rem;
        float: left;

        img {
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
        }
    }
    .card-body {
        padding: 0 $p-1_5;
        margin-top: -0.875rem;
        height: 100%;

        h1 {
            font-size: $h2-font-size;
            color: $grayish-blue;
        }

        .card-desc p {
            color: $dark-grayish-blue;
        }

        @include breakpoint(md, max) {
            padding-right: $p-0;
        }
    }
}
