header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $text-white;
    height: 90px;
    padding: $p-1;
    padding-top: $p-3;
    @include display-flex;
    z-index: 1;

    .wrapper {
        @include display-flex;
        margin: 0;
        width: 100%;

        .logo-container {
            padding-left: $p-0;

            @include breakpoint(md, min) {
                padding-left: $p-1;
            }
        }

        @include breakpoint(md, min) {
            margin: 0 50px;
        }

        @include breakpoint(lg, min) {
            margin: 0 90px;
            padding: 0 2rem;
        }
    }

    nav {
        .overlay {
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(4, 2, 15, 0.6);
            visibility: hidden;
            opacity: 0;
            z-index: 1;
            &.active {
                visibility: visible;
                opacity: 1;

                @include breakpoint(md, min) {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }

        .menu-containers {
            .menu-items {
                display: flex;

                li {
                    line-height: 1.5;
                    padding: 0.5rem 1rem;
                    a {
                        color: $dark-grayish-blue;

                        &:hover {
                            color: $soft-orange;
                        }
                    }
                }

                @include breakpoint(md, max) {
                    position: fixed;
                    top: 0;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    background: $text-white;
                    padding: $p-1;
                    padding-top: 10rem;
                    height: 100%;
                    width: 0;
                    z-index: 1;
                    transition: ease-in-out 0.2s;
                    @include opacity_visibility-hidden;

                    &.active {
                        visibility: visible;
                        opacity: 1;
                        width: 250px;
                    }
                }
            }
        }

        .nav-toggle {
            display: none;
        }
        @include breakpoint(md, max) {
            .nav-toggle {
                display: block;
                border: none;
                background: transparent !important;
                .icon-menu {
                    visibility: visible;
                    opacity: 1;
                    position: absolute;
                    top: 3rem;
                    right: $p-1;
                    z-index: 1;
                    cursor: pointer;
                    transition: all 0.2s;

                    &.hide {
                        //display: none;
                        @include opacity_visibility-hidden;
                    }

                    &.clicked {
                        display: block;
                        visibility: visible;
                        opacity: 1;
                    }
                }
                .icon-close {
                    display: none;
                    @include opacity_visibility-hidden;
                    position: absolute;
                    top: 3rem;
                    right: $p-1;
                    z-index: 1;
                    cursor: pointer;
                    transition: all 0.2s;

                    &.clicked {
                        display: block;
                        visibility: visible;
                        opacity: 1;
                    }
                    &.hide {
                        //display: none;
                        @include opacity_visibility-hidden;
                    }
                }
            }
        }
    }
}
