header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $text-white;
    height: 80px;
    padding: 1rem;
    @include display-flex;
    z-index: 1;

    .wrapper {
        @include display-flex;
        margin: 0 90px;
        width: 100%;
    }

    nav {
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgb(0, 0, 0, 0.5);
            z-index: 1;

            // &.active {
            //     display: block;
            // }
        }
        .menu-containers {
            .menu-items {
                display: flex;
                li {
                    line-height: 1.5;
                    padding: 0.5rem 1rem;
                    a {
                        color: $dark-grayish-blue;

                        &:hover {
                            color: $soft-orange;
                        }
                    }
                }

                @include breakpoint(md, max) {
                    position: fixed;
                    top: 0;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background: $text-white;
                    padding: $p-1_5;
                    height: 100%;
                    width: 0;
                    visibility: hidden;
                    opacity: 0;
                    z-index: 1;
                    transition: ease-in-out 0.2s;

                    &.active {
                        visibility: visible;
                        opacity: 1;
                        width: 300px;
                    }
                }
            }
        }
        .menu_close,
        .menu_open {
            display: none;
        }
        @include breakpoint(md, max) {
            .menu_open {
                display: block;
                position: absolute;
                top: 2rem;
                z-index: 1;
                cursor: pointer;
            }
            .menu_close {
                display: none;
                position: absolute;
                top: 2rem;
                z-index: 1;
            }
        }
    }
}
